.button {
  padding: 1.6rem 2rem;
  color: var(--color-gray-800);
  text-align: center;
  line-height: 1;
  display: inline-block;

  @media screen and (max-width: 49em) {
    padding: 2rem 2.4rem;
  }
}

.cta {
  background-color: var(--color-primary-800);
  color: var(--color-primary-50);
  transition: all 0.2s;

  &:hover {
    background-color: var(--color-primary-600);
  }
}

.outline {
  border: 1px solid var(--color-gray-800);
  transition: all 0.2s;

  &:hover {
    backdrop-filter: blur(10px);
    background-color: rgba(200, 200, 200, 0.1);
  }
}

.buttonLink {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  line-height: 1;
  font-weight: 600;
  border-bottom: 2px solid var(--color-gray-800);
  transition: all 0.2s;

  &:hover {
    gap: 2.4rem;
  }
}
