.window {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 9999;
  max-width: 50rem;
  max-height: 90vh;
  overflow-y: auto;

  &.mobileFullScreen {
    @media screen and (max-width: 37.5em) {
      width: 100vw;
      max-width: none;
      height: 100vh;
      max-height: none;
      overflow-y: scroll;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.default {
  padding: 3.2rem;
  background-color: var(--color-gray-white);
  max-width: 50rem;
  width: 100%;

  @media screen and (max-width: 37.5em) {
    max-width: min(90vw, 50rem);
  }
}

.closeButton {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;

  & svg {
    width: 2.4rem;
    height: 2.4rem;
    color: var(--color-gray-400);
  }
}
