.header {
  background-color: var(--color-gray-white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 2.4rem 4.8rem;
  transform-style: preserve-3d;

  @media screen and (max-width: 49em) {
    padding: 3.2rem 2.4rem;
  }
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
  list-style: none;

  &:hover li {
    opacity: 0.5;

    @media screen and (max-width: 49em) {
      opacity: 1;
    }
  }

  & li {
    transition: all 0.2s;

    &:hover {
      opacity: 1 !important;
      color: var(--color-primary-800);
    }
  }
}

// mobile navigation styles

.nav {
  @media screen and (max-width: 49em) {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--color-gray-white);
    border-top: 1px solid var(--color-gray-200);
    padding: 2.4rem 4.8rem;
    z-index: -1;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;

    display: flex;
    gap: 1.6rem;

    & .mobileLine {
      width: 2px;
      height: auto;
      background-color: var(--color-primary-400);
    }

    & ul {
      flex-direction: column;
      gap: 2.4rem;
      align-items: flex-start;

      & li a {
        font-size: 2rem;
      }
    }

    // default nav styles
    transform: translateY(-100%) translateZ(-1px);
    box-shadow: none;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateZ(-1px);
  transition: all 0.2s;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  display: none;

  @media screen and (max-width: 49em) {
    display: block;
  }
}

.open {
  @media screen and (max-width: 49em) {
    .nav {
      transform: translateY(0);
      box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1);
    }

    .overlay {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
    }
  }
}

// mobile manu icon

.icon {
  width: 4.8rem;
  height: 2.4rem;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;

  display: none;

  @media screen and (max-width: 49em) {
    display: block;
  }
}

.icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--color-gray-800);
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.icon span:nth-child(1) {
  top: 0px;
}

.icon span:nth-child(2),
.icon span:nth-child(3) {
  top: 1.2rem;
}

.icon span:nth-child(4) {
  top: 2.4rem;
}

.open .icon span:nth-child(1) {
  top: 1.2rem;
  width: 0%;
  left: 50%;
}

.open .icon span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.open .icon span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.open .icon span:nth-child(4) {
  top: 1.2rem;
  width: 0%;
  left: 50%;
}
