.header {
  background-color: var(--color-gray-white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 2.4rem 4.8rem;
  transform-style: preserve-3d;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
  list-style: none;

  &:hover li {
    opacity: 0.5;

    @media screen and (max-width: 49em) {
      opacity: 1;
    }
  }

  & li {
    transition: all 0.2s;

    &:hover {
      opacity: 1 !important;
      color: var(--color-primary-800);
    }
  }
}

// mobile navigation styles

.mobileNavButton {
  display: none;

  @media screen and (max-width: 49em) {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    & span {
      display: block;
      width: 4.8rem;
      height: 1px;
      background-color: var(--color-gray-800);
      transition: all 0.2s;

      &:nth-of-type(3) {
        width: 3.2rem;
      }
    }
  }
}

.nav {
  @media screen and (max-width: 49em) {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--color-gray-white);
    border-top: 1px solid var(--color-gray-200);
    padding: 2.4rem 4.8rem;
    z-index: -1;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;

    display: flex;
    gap: 1.6rem;

    & .mobileLine {
      width: 2px;
      height: auto;
      background-color: var(--color-primary-400);
    }

    & ul {
      flex-direction: column;
      gap: 2.4rem;
      align-items: flex-start;
    }

    // default nav styles
    transform: translateY(-100%) translateZ(-1px);
    box-shadow: none;
  }
}

.open {
  @media screen and (max-width: 49em) {
    .nav {
      transform: translateY(0);
      box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1);
    }
  }
}
