.section {
  padding: 9.6rem 4.8rem;
  display: flex;
  flex-direction: column;
  gap: 6.4rem;

  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  will-change: opacity, transform;

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }

  @media screen and (max-width: 49em) {
    padding: 6.4rem 2.4rem;
  }
}

.sectionDark {
  background-color: var(--color-gray-100);
}

.hidden {
  opacity: 0;
  transform: translateY(4.8rem);
}
