.form-row {
  position: relative;

  & input:not(:placeholder-shown) ~ label,
  & input:focus-visible ~ label,
  & textarea:not(:placeholder-shown) ~ label,
  & textarea:focus-visible ~ label {
    top: 0.6rem;
    translate: 0 0;
    font-size: 1.2rem;
  }

  & input,
  & textarea {
    width: 100%;
    padding: 2rem 1.2rem 0.4rem 1.2rem;
    background-color: var(--color-gray-white);
    color: var(--color-gray-800);
    border: 1px solid var(--color-gray-800);
    outline: none;
    transition: all 0.2s;

    &:invalid:not(:placeholder-shown) {
      border-color: var(--color-red-200);
    }

    &:valid:not(:placeholder-shown) {
      border-color: var(--color-green-200);
    }
  }

  & textarea {
    height: 12.8rem;
  }

  & label {
    position: absolute;
    top: 1.4rem;
    left: 1.2rem;
    translate: 0 0;
    color: var(--color-gray-600);
    line-height: 1;
    transition: all 0.2s;
    pointer-events: none;
  }
}
