.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem;

  @media screen and (max-width: 49em) {
    grid-template-columns: 1fr;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

// TODO: art direction to image
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../../public/images/about.jpeg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (max-width: 49em) {
    height: 50rem;
    width: 100%;
  }
}
