.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem;
  align-items: center;

  @media screen and (max-width: 49em) {
    grid-template-columns: 1fr;
    gap: 4.8rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  @media screen and (max-width: 49em) {
    gap: 3.2rem;
  }
}

// TODO: art direction to image
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    width: 100%;
    height: auto;

    @media screen and (max-width: 49em) {
      max-width: 40rem;
    }
  }
}
