.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
