.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: flex-start;
}

.email {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.icon {
  font-size: 3.2rem;
  color: var(--color-primary-600);
}

.form {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.4rem;

  & .textarea {
    grid-column: 1 / -1;
  }

  & button {
    background-color: var(--color-gray-white);
  }
}

.splashImage {
  position: absolute;
  bottom: -6rem;
  left: 6rem;
  width: 30rem;
  height: 30rem;
  z-index: -1;
  rotate: 45deg;
}
