.hero {
  position: relative;
  min-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.heroContent {
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;

  & h1 {
    color: var(--color-gray-50);
  }

  & a {
    color: var(--color-gray-50);
    border-color: var(--color-gray-50);
  }
}

.heroBg {
  object-fit: cover;
  object-position: 50% 30%;
}
