.container {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem;
}

.card {
  display: flex;
  gap: 2.4rem;

  & img {
    height: 30rem;
    object-fit: cover;
    width: auto;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: flex-start;
  // justify-content: center;
}
