.container {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem;
}

.card {
  display: flex;
  gap: 2.4rem;

  & img {
    max-height: 30rem;
    width: auto;
  }

  @media screen and (max-width: 60em) {
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: flex-start;

  @media screen and (max-width: 60em) {
    align-items: center;
    max-width: 45rem;
    text-align: center;
  }
}
