.container {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem;
}

.card {
  display: flex;
  gap: 2.4rem;

  & img {
    max-height: 30rem;
    width: 100%;
    object-fit: cover;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: flex-start;
}
