.container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;

  & h4 {
    color: var(--color-gray-800);
  }

  & p {
    color: var(--color-gray-600);
  }
}

.input {
  width: 35rem;
}

.arrow {
  position: absolute;
  right: 1.2rem;
  top: 50%;
  translate: 0 -50%;
  font-size: 2.4rem;
  line-height: 0;
  color: var(--color-gray-800);
}
