.tanglefolk {
  background-color: var(--color-primary-50);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem;
  align-items: center;

  @media screen and (max-width: 49em) {
    grid-template-columns: 1fr;
  }
}

.imageContainer {
  position: relative;
  z-index: 1;

  & .bookImage {
    width: 100%;
    height: auto;
  }

  & .splashImage {
    position: absolute;
    bottom: -10rem;
    right: -10rem;
    width: 48rem;
    height: 48rem;
    z-index: -1;

    @media screen and (max-width: 49em) {
      width: 32rem;
      height: 32rem;
      bottom: -9rem;
      right: -9rem;
    }
  }

  @media screen and (max-width: 49em) {
    justify-self: center;
    width: 100%;
    max-width: 40rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: flex-start;
}
